
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="input-group mb-3">
  <div class="form-group">
    <%= form.label :lost_item %>
    <%= form.text_field :post %>
  </div>

 
  <div class="field">
    
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

 

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date_lost %>
    <%= form.date_select :date_lost %>
  </div>

  <div class="field">
    <%= form.label :location_lost %>
    <%= form.text_field :location_lost %>
  </div>

  <div class="field">
    <%= form.label :gps %>
    <%= form.text_field :gps %>
  </div>

  <div class="field">
    <%= form.label :reward %>
    <%= form.number_field :reward %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  
<% end %>
</div>
