<p id="notice"><%= notice %></p>
<%= link_to 'New Post', new_post_path %>

<h1>Posts</h1>



  <tbody>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-6">
            <div class="card" >
            <div class="card-body">
              <img src=<%= post.image %> class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title"><%= post.post %> - Reward: $ <%= post.reward %></h5>
                <h6 class="card-title"><%= post.user_id %></h6>
                <h6 class="card-title">Lost at <%= post.location_lost %> on <%= post.date_lost %></h6>
                <h6 class="card-title">GPS Location <%= post.gps %></h6>
                <p class="card-text"><%= post.description %></p>

                <a href="/posts/<%=post.id%>" class="btn btn-primary">More Info</a>
              </div>
            </div>
            
            <% if post.user_id == current_user.id %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post,  method: :delete %>
            <% end %>
        </div>
      </div> 
    <% end %>
    </div>
  </tbody>


<br>


